.sale {
    .sale__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    } 

    .sale__item {
        width: 31.6%;
        min-height: 260px;
        background-color: #524a4a;

        @include flex-center;

        @include tablet {
            width: 31.5%;
            min-height: 168px;
        }

        @include mobile {
            width: 100%;
            min-height: 247px;
        }
    }

    .sale__item--shoes {
        width: 100%;
    }

    .sale__item--space {
        margin: 0 0 30px;
    }
}